apiVersion: apps/v1
kind: ReplicaSet
metadata: 
  name: nginx-replicaset
  labels:
    app: nginx
    type: front-end
spec:
  template:
    metadata: 
      name: nginx-pod
      labels:
        app: nginx-app
    spec:
      containers:
      - name: nginx-pod
        image: nginx
  replicas: 3
  selector:
    matchLabels:
      app: nginx-app